Source: ros-groovy-ros
Section: misc
Priority: extra
Maintainer: Tully Foote <tfoote@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-rospack,ros-groovy-catkin,libboost-all-dev,libgtest-dev,python-rospkg,libbz2-dev,pkg-config,python-dev,python-nose
Homepage: http://www.ros.org/wiki/ROS
Standards-Version: 3.9.2

Package: ros-groovy-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-rospack,ros-groovy-catkin,libboost-all-dev,libgtest-dev,python-rospkg,libbz2-dev,python-dev,python-nose
Description: ROS packaging system

