Source: ros-fuerte-ros
Section: misc
Priority: extra
Maintainer: Tully Foote <tfoote@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libboost1.46-all-dev,libgtest-dev,python-rospkg,ros-fuerte-rospack,libbz2-dev,ros-fuerte-catkin,pkg-config,python-dev,python-nose
Homepage: http://www.ros.org/wiki/ROS
Standards-Version: 3.9.2

Package: ros-fuerte-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost1.46-all-dev,libgtest-dev,python-rospkg,ros-fuerte-rospack,libbz2-dev,ros-fuerte-catkin,python-dev,python-nose
Description: ROS packaging system

